**

!segmenter/
!segmenter/**/*
!combine.py
!Dockerfile
!.dockerignore
!README.md
!image.def
!run.sh
!requirements.txt
!evaluate.sh
!args.py
!launcher
!launcher/**/*
!dataloaders
!dataloaders/**/*
!docs
!docs/*.md
!nvidia-drivers
!nvidia-drivers/nvidia-job.sh
!nvidia-drivers/extract_nvdriver.sh
!nvidia-drivers/*.run
!.gitattributes
!.vscode
!.vscode/settings.json
!.vscode/extensions.json
!commands.py
!get_configs
!is_complete
!.tool-versions
!setup
!setup/singularity.sh
!setup/*.deb

**/__pycache__
