**

!segmenter/
!segmenter/**/*
!combine.py
!Dockerfile
!.dockerignore
!README.md
!image.def
!run.sh
!requirements.txt
!evaluate.sh
!args.py
!launcher
!launcher/**/*
!docs
!docs/*.md
!.gitattributes
!.vscode
!.vscode/settings.json
!.vscode/extensions.json
!commands.py
!get_configs
!is_complete
!.tool-versions
!setup
!setup/singularity.sh
!segmenter/datasets/kits/kits19/
!segmenter/datasets/kits/kits19/*

**/__pycache__
