**

!.gitignore
!segmenter/
!segmenter/**/
!segmenter/**/*.py
segmenter/datasets/kits/kits19
!Dockerfile
!.dockerignore
!README.md
!image.def
!requirements.txt
!docs
!docs/*.md
!.gitattributes
!.vscode
!.vscode/settings.json
!.vscode/extensions.json
!get_configs
!.tool-versions
!setup
!setup/singularity.sh
!.gitmodules
!run.sh
!commands
!commands/*.sh
!jobs
!jobs/*.env
!LICENSE

**/__pycache__
segmenter/datasets/kits19/kits19